@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div><a href="" data-command="command1">Command</a></div>
    <div><a href="" data-command="command1-cant">Command (cant exec)</a></div>
    <div><a href="" data-command="command2">Transparent command</a></div>
    <div><a href="" data-command="command2-cant">Transparent command (cant exec)</a></div>
</div>